.favorites {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contenedorSelect p {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.form {
    background-color: #00B1CA;
}

.select {
    display: flex;
    justify-content: center;
}

