.container {
background-image: url('../img/bg-rickandmorty.jpg');
background-repeat: no-repeat;
background-size: cover;
color: black;
display: flex;
align-items: center;
height: 100vh;
overflow-y: hidden;
}


.container h2,p{
    text-align: center;
}

.container form {
    width: 30rem;
    padding-top: 1rem;
     margin: 0 auto;
    background-color: white;
    height: 35rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imagen {
    text-align: center;
}

.imagen img {
    width: 7rem;

}


.inputBox {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
}






.error {
    color: white;
    background-color: red;
}