@font-face {
    font-family: 'Mi Fuente';
    src: url('../fonts/get_schwifty.ttf') format('truetype');
  }

.container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5rem;
}

.container a {
    color: black;
    font-weight: bold;
}

.logo img  {
    width:15rem;
}

.logo a {
    text-decoration: none;
}

.nav button {
    border: none;
    outline: none;
    background-color: #C0DF40;
    padding: .5rem 1.2rem;
    margin-left: 1rem;
}

.nav {
    display: flex;
    gap: 3rem;
}





.home {
    color: white;
    text-decoration: none;
}

.about {
    color: white;
    text-decoration: none;
}